
body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;

    background-color: rgb(255, 248, 239);
    margin-top: -140px;
}


#canvas_1{
    background-color: white;

    box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.38);
    -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.38);

    transform: scale(0.5);
}

#slider{
    margin-top: -280px;
}